@using FinalProject.ViewModels;
@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}
<head>
    <link rel="stylesheet" href="~/css/register.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>

<main>
	<div id="loading">
		<div class="custom-loader"></div>
	</div>
	<div style="margin-bottom:5rem" class="container">
		<div class="row">
			<div class="left col-lg-6">
				<div class="image">
					<img width="400px" src="~/images/login/account-02.webp" alt="">
				</div>
			</div>
			<div class="right col-lg-6">
				<div class="head">
					<h6>Reset Password</h6>
				
				</div>
				<div class="input">
					<form method="post">

						<div>
							<label>Enter Your Password</label>
							<input asp-for="Password" class="form-control">
						</div>
						<div class="d-none">
							<input asp-for="Token" class="form-control">
							<input asp-for="User.Email" class="form-control">
						</div>
						<div>
							<label>Confirm Your Password</label>
							<input asp-for="ConfirmPassword" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Reset Password</button>
					</form>
				</div>

				<span style="text-align: center;margin-left: 3rem;margin-top: 1rem;">Already have an account?<a style="text-decoration:none;font-size: 14px;margin-left: 4px;" asp-controller="Account" asp-action="Login">Login Here</a></span>
			</div>
		</div>
	</div>

</main>