@model IEnumerable<Brand>

@{
    ViewData["Title"] = "Index";
}
<style>
  
    table{
        margin-top: 8rem;
    }
    #create {
        position: relative;
        width: 100px;
        top: 6rem;
        left: 4rem;
        display: block;
        text-decoration: none;
        transition: 0.3s;
        margin-bottom: 5rem;
    }

    #create {
        transition: 0.3s;
        text-decoration: none;
    }

        #create:hover {
            color: white
        }
</style>
<h1>Index</h1>

<p>
    <a id="create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <button class="btn btn-warning">
                        <a style="text-decoration:none;color:white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </button>
                    <button class="btn btn-danger">
                        <a style="text-decoration:none;color:white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
