@model Setting
<style>
  form{
      position:relative;
      top:25%;
  }
</style>
<h2>Edit Setting</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Key" class="control-label"></label>
        <input asp-for="Key" class="form-control" />
        <span asp-validation-for="Key" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Value" class="control-label"></label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>