<head>
    <link rel="stylesheet" href="./css/faq.css">
</head>
<main>
    <div id="loading">
        <div class="custom-loader"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="header">
                <h6>Have a Question? Look here</h6>
            </div>
            <div class="wrapper flex_align_justify">
                <div class="tc_wrap">
                    <div class="tabs_list">
                        <ul>
                            <li data-tc="tab_item_1" class="active">ABOUT SHOPIFY</li>
                            <li data-tc="tab_item_2">PRE-PURCHASE</li>
                            <li data-tc="tab_item_3">LUMIA FEATURES</li>
                            <li data-tc="tab_item_4">SUPPORT</li>
                        </ul>
                    </div>
                    <div class="tabs_content">

                        <div class="tab_body">
                            <div class="tab_item tab_item_1 animate__animated animate__fadeInDown ">
                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">What is Shopify?</h5></div>
                                    <div class="text">
                                        <span>
                                            Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every country in the world. It is an all-in-one ecommerce platform that helps online businesses get up and running.

                                            If you're looking for a comprehensive ecommerce solution, Shopify is the platform for you. With everything from themes to payment processing included, Shopify has everything you need to get your online store up and running.
                                        </span>
                                    </div>
                                </div>
                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">Are additional apps required for my Shopify store?</h5></div>
                                    <div class="text">
                                        <span>
                                            If you're running a Shopify store, you might be wondering if you need to install any additional apps to help run your business. <br> <br>

                                            The answer is that it depends on your specific needs. There are a lot of great apps out there that can help with everything from marketing to accounting, so it's definitely worth taking a look around and seeing what's available. However, keep in mind that not every app is right for every business, so make sure to do your research before installing anything. <br><br>

                                            Lumia is the perfect theme for anyone who wants to create a shopify store without needing to worry about additional apps. For example, the theme includes a built-in mega menu, so you won't need to purchase a special app to get this functionality. Additionally, the Lumia has a built-in Instagram feed, newsletter popup, recently viewed items app and many other..
                                        </span>
                                    </div>
                                </div>
                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">How to choose best theme for Shopify?</h5></div>
                                    <div class="text">
                                        <span>
                                            If you're thinking about setting up a shop on Shopify, one of the first things you'll need to do is choose a theme. With so many themes available, it can be tough to decide which one is right for your store. Here are a few things to keep in mind when choosing a Shopify theme: <br><br>

                                            • Think about the overall tone and feel you want your store to have. Do you want it to be playful and fun? Sophisticated and luxurious? Minimal and modern? Your theme should reflect the overall tone and feel you want for your store. <br> <br>

                                            • Consider what kind of products you'll be selling. If you'll be selling mostly physical goods, you'll want a theme that includes features like product image galleries and robust product descriptions. If you'll be selling mostly digital goods, on the other hand, you might want a simpler theme that focuses on clean design and easy navigation. <br><br>

                                            • Think about your budget. Shopify offers both free and paid themes, so you can choose something that fits within your budget. Keep in mind, though, that paid themes usually offer more features and customization options than free themes. <br> <br>

                                            If you're looking for a modern Shopify theme that is responsive and looks good on any device and has a lot of features, then you should definitely check Lumia Theme. With its simple, clean interface Lumia makes it easy to get started.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab_item tab_item_2 animate__animated animate__fadeInDown" style="display: none;">
                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">How many languages does Lumia support?</h5></div>
                                    <div class="text"><span>With Lumia Theme, you can easily start an online store in any language. The theme is fully translated into all major languages, so you can use it no matter where you are in the world. In addition, the admin panel is also fully translated and you can manage your store in your native language.</span></div>
                                </div>
                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">Which license type should I buy?</h5></div>
                                    <div class="text"><span>If you want to use Lumia Theme for your Shopify store, you just need to buy a regular license.  Read more about licenses type here: <a href="https://help.market.envato.com/hc/en-us/articles/115005593363-Do-I-need-a-Regular-License-or-an-Extended-License-">https://help.market.envato.com/hc/en-us/articles/115005593363-Do-I-need-a-Regular-License-or-an-Extended-License-</a></span></div>
                                </div>
                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">Can Lumia be used for more than one store?</h5></div>
                                    <div class="text"><span>Like all other Shopify themes on Envato Market, Lumia Theme comes with one license per domain.  You will need to buy a second license if you want to open a second store and use our theme. Each store will have its own license.</span></div>
                                </div>

                            </div>
                            <div class="tab_item tab_item_3 animate__animated animate__fadeInDown" style="display: none;">

                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">How to change my theme style?</h5></div>
                                    <div class="text">
                                        <span>
                                            One of the great things about the Lumia Theme is that you can change the theme style with just one click. <br> <br>

                                            This means that you can easily change the look and feel of your store without the hassle of changing the code. There are over a dozen skins available in the Lumia Theme, so you can easily find one that suits your style. <br> <br>

                                            Another Lumia unique feature is the ability to change styles separately for the header, footer, buttons, etc. This makes it easy to customize the store to match your brand or style.
                                        </span>
                                    </div>
                                </div>

                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">Has Lumia built-in “Frequently bought together” functionality?</h5></div>
                                    <div class="text">
                                        <span>
                                            If you're using Lumia Theme for your Shopify store, there's no need to buy any special apps to offer customers the option of buying products together that are frequently bought together. Lumia theme includes this functionality built right in. <br> <br>

                                            You need only to choose items that complement each other or that customers are likely to purchase together and add the “Frequently bought together” block in the product page admin panel. <br> <br>

                                            When customers add a product to their cart that is set up as part of a group of products that are frequently bought together, they'll see a message letting them know that other customers who have purchased this item have also bought certain other items. They can then choose to add those items to their own cart with just a few clicks. This is a great way to boost sales and encourage customers to buy more products from your store. It's also a very convenient feature for customers, who will appreciate not having to search for products that go well together.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab_item tab_item_4 animate__animated animate__fadeInDown" style="display: none;">

                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">How to get support?</h5></div>
                                    <div class="text">
                                        <span>
                                            Do you need any help with Lumia Theme? We're here to help!

                                            It's easy to get in touch with us - simply send us an email or submit a ticket through our support service <a href="https://big-skins.com/help/index.php. ">https://big-skins.com/help/index.php. </a> <br><br>

                                            Every support request is assigned a unique ticket number which you can use to track the progress and responses online. For your reference, we provide complete archives and a history of all your support requests. <br> <br>

                                            We're always happy to help resolve any issues you may be having. <br> <br>

                                            But in the meantime, be sure to check out our documentation for more information.
                                        </span>
                                    </div>
                                </div>

                                <div class="question" style="margin-bottom: 5rem;">
                                    <div class="header"><h5 style="font-weight: bold;margin-bottom: 1rem;">What is the schedule of the support service?</h5></div>
                                    <div class="text">
                                        <span>
                                            If you need help, our support team is available Monday-Friday 9am-7pm WET. <br><br>

                                            We'll be happy to answer any questions you have or help you with any issues you're experiencing.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<script src="./js/faq.js"></script>
